* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fcfcfc;
  --drops-color: #1edd17;
}

body {
  background: var(--text-color);
  font-family: Georgia, serif;
  background:linear-gradient( red,rgb(8, 202, 236))
}

.canvas {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.canvas--animated .puddle__letter {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.puddle {
  position: absolute;
  display: flex;
  transform: rotate(var(--r, 0deg)) translate(calc(-50% - var(--x, 0)), calc(-50% - var(--y, 0)));
  top: 50%;
  left: 50%;
  color: var(--text-color);
  font-size: 6vmin;
  white-space: pre;
}
.puddle__letter {
  transform: translateY(800px);
  padding: 0.1em 0.2em;
  margin: -0.1em -0.2em;
  will-change: transform;
  -webkit-animation: drop 0.8s var(--delay) ease-out forwards paused;
          animation: drop 0.8s var(--delay) ease-out forwards paused;
}

.combined-puddles {
  position: relative;
  height: 100%;
  z-index: -1;
  filter: url(#drops-filter);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.combined-puddles .puddle__letter {
  border-radius: 50%;
  color: var(--drops-color);
  background-color: currentColor;
}
.combined-puddles .puddle__letter--t-1 {
  box-shadow: 0.0134878835em 0.000711274em 0 0.0818650844em currentColor;
}
.combined-puddles .puddle__letter--t-2 {
  box-shadow: 0.0219619251em 0.0129211148em 0 0.1719941488em currentColor;
}
.combined-puddles .puddle__letter--t-3 {
  box-shadow: 0.0030598551em 0.0035840607em 0 0.1765841703em currentColor;
}
.combined-puddles .puddle__letter--t-4 {
  box-shadow: 0.0193545216em 0.0056198318em 0 0.3293091461em currentColor;
}
.combined-puddles .puddle__letter--t-5 {
  box-shadow: 0.0040111286em 0.018925173em 0 0.3318446322em currentColor;
}
.combined-puddles .puddle__letter--t-6 {
  box-shadow: 0.007891352em 0.0238915661em 0 0.0731082749em currentColor;
}
.combined-puddles .puddle__letter--t-7 {
  box-shadow: 0.0102871557em 0.0191094152em 0 0.2288799954em currentColor;
}
.combined-puddles .puddle__letter--t-8 {
  box-shadow: 0.0042989614em 0.026277927em 0 0.30100751em currentColor;
}
.combined-puddles .puddle__letter--t-9 {
  box-shadow: 0.0231535188em 0.0179401878em 0 0.18892213em currentColor;
}
.combined-puddles .puddle__letter--t-10 {
  box-shadow: 0.013766463em 0.0234905292em 0 0.3786283164em currentColor;
}

@-webkit-keyframes drop {
  0% {
    transform: translate(0, 100vh);
  }
  85% {
    transform: translate(0, -0.15em);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes drop {
  0% {
    transform: translate(0, 100vh);
  }
  85% {
    transform: translate(0, -0.15em);
  }
  100% {
    transform: translate(0, 0);
  }
}